body {
    background-color:aliceblue;
}
h1 {
    color:palevioletred;
}
h1 {
    font-size:60px;
}
p {
    color:#18718C;
}
p {
    font-size:30px
}
h2 {
    color:palevioletred
}
h2 {
    font-size:40px
}