body {
    background-color:#B1BF9B;
}

div {
    background-color: #EBF5DC;
    height: 190px
}

h1 {
    color:#6B7366;
    text-align: center;
    line-height: 0.9;
    padding: 10px 10px 0 
}
h1 {
    font-size:55px;
}

.elven-greeting {
    color: #D9984A;
    text-align: center;
    font-size: 25px;
    line-height: 0;
}

.tag-line {
    color:#D9984A;
    font-size: 20px;
    text-align: center;
    line-height: 0;
}

h2 {
    color:#EBF5DC;
}
h2 {
    font-size:40px
}
